<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Boilerplate">
    <meta name="Keywords" content="Boilerplate">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/layout.css?v=4">
    <title>Boilerplate</title>
</head>
<body>
    <h1>// DoubleFront boilerplate v0.1</h1>
    {% block content %}{% endblock %}

    {% block footer %}
        {% include "components/_footer.html" %}
    {% endblock %}

    <script src="js/common-chunk.js?v=4"></script>
    {% block js %}{% endblock %}
</body>
</html>