{% extends "_layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="css/profile.css">
    {% endblock%}

    {% block content %}
        <h2>Profile</h2>
        {% include "components/_navigation.twig" %}

    {% endblock %}

    {% block footer %}
        {% include "components/_footer_two.twig" %}
    {% endblock %}

    {% block js %}
        <script src="js/profile.js?v=4"></script>
    {% endblock %}