<h2>HTML Features</h2>

<ul>
    <li><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> - Template engine</li>
    <li><a href="https://github.com/kangax/html-minifier">HTMLMinifier</a> - For production minification</li>
</ul>