@import "components/base";

html {
  height: 100%;
}


body {
  font-family: "Tahoma", sans-serif;
  background-color: #fff;
  font-size: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// Maybe we don't need some stuff from reset and normalize? Lets break theme here

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 1.3rem 0;
}

h1 {
  font-size: 3rem;
  padding-bottom: 50px;
}


form {
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;

  & > * {
    margin-bottom: 10px;
  }
}

form.blue {
  color: blue;
}